<a href="https://colab.research.google.com/github/GudaObulaReddy/hibernateorm/blob/master/linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
#here  i am using linear regression because as area increases price increases

In [4]:
df=pd.read_csv("/content/sample_data/homeprices.csv")
df.head(5)

   area  bedrooms   age   price
0   548       5.0  24.0  208500
1   460       4.0  26.0  181500
2   608       5.0  57.0  223500
3   642       4.0  54.0  140000
4   836       2.0   NaN  250000

In [5]:
df.isnull().sum()

area        0
bedrooms    4
age         4
price       0
dtype: int64

In [7]:
# Handling NAN values
# Here age and bedrooms replaced with median

In [8]:
df["bedrooms"].median()

3.0

In [9]:
df["age"].median()

33.0

In [14]:
df.bedrooms=df["bedrooms"].fillna(df["bedrooms"].median())

In [15]:
df.age=df["age"].fillna(df["age"].median())

In [16]:
df.isna().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64

In [17]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','age','bedrooms']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
reg.coef_

array([232.13084309, 101.84289625, 756.89700084])

In [19]:
reg.intercept_

65571.59038490478

In [20]:
reg.predict([[500,3,40]])

array([212218.42065087])

price=coef1$*$area+coef2$*$age+coef3$*$bedrooms+intercept

In [21]:
232.13084309*500+101.84289625*3+756.89700084*40+65571.59038490478

212218.42065225478

In [25]:
testdata=pd.read_csv("/content/sample_data/homepricetestdata.csv")

In [27]:
p=reg.predict(testdata)

In [29]:
testdata['price']=p

In [30]:
testdata.head()

   area  bedrooms  age          price
0   548         1   19  207262.178309
1   460         1   36  199701.913132
2   608         2   32  231131.532801
3   642         2   54  255675.715485
4   836         2   35  286328.056028